.currency-container {
  display: flex;
  align-items: center;
}

.SelectTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 36px;
  border: 1px solid #d2ddec;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.SelectContent {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

/* .SelectViewPort {
  padding: 5px;
} */

.SelectItem {
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 46px 0 16px;
  user-select: none;
  color: #282d37;
  cursor: pointer;
}

.SelectItem:hover {
  background: #eef3f9;
}

.SelectItemIndicator {
  position: absolute;
  right: 0;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: #fff;
}

.CurrencyInput {
  padding: 0 8px;
  height: 36px;
  border: 1px solid #d2ddec;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.CurrencyInput:focus-visible {
  outline: none;
}

.CurrencyInput:focus-within {
  border: 1px solid #0565ff;
}
